.sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background: #3d3d3d;
    overflow-x: hidden;
    margin-top: 120px;
    color: white;
  }
  
  .sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav span:hover {
    color: #064579;
    cursor: pointer;
  }
  
  .main {
    font-size: 20px; 
    margin-left: 300px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#212121;
    color: white;
  }
  
  .highlighted {
    background-color: white;
  }

  #trash-img {
    margin-left: 10px;
    width: 19px;
    height: 19px;
    cursor: pointer;
  }
  
   #plan-item {
    display: flex;
    align-items: center;
  }