.hero {
    background-color: #0f6d78;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}